:root {
    --capyQam-pageHeader-layer1-bg: var(--capyQam-Custom-pageHeader-layer1-bg-c1);
}

._34nl5vUoFCDYYnmHNL7axB::after,
._3ys3Sy3ff2qe7MBpyd1Qru::after {
    transform: rotate(3deg) translateX(-40px) translateY(8px);
    height: 60px;
    width: 150%;
    top: -24px;
    /*box-shadow: 0 0 20px rgba(0, 0, 0, .45);*/
}