{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

edit:
    command: codium
    args:
      - --ozone-platform=wayland
      - --wait
    apply: true
    watch: true

data:
    osid: {{ $osid | quote }}
    hostSettings: 
{{ toYaml (get (fromYaml (include ".inventory.yaml")).inventory (.chezmoi.hostname | trim)) | indent 8 }}