#  Hyprland plugins
exec-once = hyprpm reload -n

# Clipboard history
exec-once = wl-paste --type text --watch cliphist store
exec-once = wl-paste --type image --watch cliphist store

# Auto delete trash 30 days old
exec-once = trash-empty 30

# Forward bluetooth media commands to MPRIS
exec-once = mpris-proxy

exec-once=/usr/lib/pam_kwallet_init

exec-once=app2unit -- qs
exec-once=waypaper -- restore
exec-once=app2unit -- equibop --enable-features=UseOzonePlatform --ozone-platform=wayland
exec-once=app2unit -- steam -silent
{{ if eq .chezmoi.hostname "dotbox" }} 
exec-once=hyprlock
{{ end }}

exec-once=systemd-inhibit --who="Hyprland" --why="powerbutton keybind" --what=handle-power-key --mode=block sleep infinity & echo $! > /tmp/.hyprland-systemd-inhibit
exec-shutdown=kill -9 "$(cat /tmp/.hyprland-systemd-inhibit)"
