#  Hyprland plugins
exec-once = hyprpm reload -n

# Clipboard history
exec-once = wl-paste --type text --watch cliphist store
exec-once = wl-paste --type image --watch cliphist store

# Auto delete trash 30 days old
exec-once = trash-empty 30

# Forward bluetooth media commands to MPRIS
exec-once = mpris-proxy

exec-once=/usr/lib/pam_kwallet_init

exec-once=uwsm app -- qs
exec-once=uwsm app -- equibop --enable-features=UseOzonePlatform --ozone-platform=wayland
exec-once=uwsm app -- steam -silent
{{ if eq .chezmoi.hostname "dotbox" }} 
exec-once=hyprlock
{{ end }}

exec-once=waypaper -- restore
